.header {
  padding: 0;
  border: 1px solid $border-header;
  position: relative;

  @media screen and (min-width: 768px) {
    padding: 0;
    border-bottom: 1px solid $border-header;
  }

  @media screen and (min-width: 1200px) {
    padding: 0;
    border-bottom: 1px solid $border-header;
  }
}

.header-container {
  display: flex;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    justify-content: inherit;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }

  &__link {
    font-family: "Raleway";
    color: $accent-color;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;

    @media screen and (min-width: 1200px) {
      color: $accent-color;
      text-decoration: none;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.03em;
    }
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &.current {
    color: $accent-color;

    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: $accent-color;
      border-radius: 2px;
      transition: background-color, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__logo {
    color: $title-black;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }
}

.header-list {
  position: absolute;

  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
  align-items: center;
  font-size: 20px;

  @media screen and(min-width:1200px) {
    display: flex;

    color: $title-black;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-left: 93px;
  }
  &__item {
    @media screen and(min-width:1200px) {
      margin-right: 50px;
      position: relative;
    }
  }

  &__item:last-child {
    margin-right: 0px;
  }
}

.header-contacts {
  display: none;

  @media screen and (min-width: 768px) {
    margin-left: 84px;
    color: $primary-text-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: inherit;
    list-style: none;
    font-weight: 500;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 305px;
    color: $primary-text-color;
    display: flex;
    list-style: none;
    font-weight: 500;
    padding: 0px;
    align-items: center;
  }

  &__item {
    @media screen and (min-width: 768px) {
      padding-top: 21px;
      margin-right: 50px;
    }
    padding-top: 21px;
    margin-right: 50px;

    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      margin-right: 30px;
    }
  }

  &__item:last-child {
    @media screen and (min-width: 768px) {
      padding-top: 0px;
      margin-right: 0px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding-top: 21px;
    color: $primary-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:last-child {
    padding-top: 0px;
    padding-bottom: 21px;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
  &__envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: $primary-text-color;

    @media screen and (max-width: 1200px) {
    }

    &:hover {
      fill: $accent-color;
    }
  }
  &__phone {
    width: 10px;
    height: 16px;
    fill: $primary-text-color;
    margin-right: 10px;

    @media screen and (max-width: 1200px) {
    }

    &:hover {
      fill: $accent-color;
    }
  }
}
.header-nav {
  @media (max-width: 767px) {
    flex-grow: 1;
  }

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  @media (min-width: 1200px) {
  }
}
.header-list__nav {
  @media (min-width: 768px) {
    display: flex;
    padding-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 93px;
  }
}

.header-list__li {
  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.header-list__item {
  font-weight: 500;
  font-size: 14px;
  position: relative;
  color: $title-black;
  display: block;
  transition: background-color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $accent-color;
    background-color: $background-white;
  }
  &:focus {
    background-color: $background-white;
    color: $accent-color;
  }
  @media (max-width: 767px) {
    font-size: 40px;
  }
  @media (min-width: 768px) {
    padding: 32px 0;
  }
}
