.menu-container {
  background-color: $background-white;
  text-align: center;
  font-size: 20px;

  &.is-open {
    display: block;
    flex-direction: column;
    opacity: 1;
  }

  @media screen and(max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.menu-button {
  margin-left: 276px;
  padding: 10px 0;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;

  &:focus {
    fill: $accent-color;
  }

  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
