.section-work {
  position: relative;
  padding-top: 0px;

  &__photo {
    position: relative;
    bottom: 0;

    margin-right: 30px;
  }

  &__photo:last-child {
    position: relative;
    bottom: 0;

    margin-right: 0px;
  }

  &__title {
    text-align: center;
  }
  &__list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  &__title.item {
    position: relative;
    bottom: 0;

    margin-right: 30px;
  }

  &__.item:last-child {
    position: relative;
    bottom: 0;

    margin-right: 0px;
  }

  &__title {
    margin-bottom: 50px;

    color: $title-black;
    font-family: "Roboto", sans-serif;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }

  &__article {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;

    position: absolute;
    overflow: hidden;

    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);

    color: white;
  }

  &__p {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
