$background-white: #ffffff;
$accent-color: #2196f3;
$title-black: #212121;
$primary-text-color: #757575;
$body-background: #f5f4fa;
$icon-color: #afb1b8;
$border-portfolio: #eeeeee;
$border-header: #ececec;
$footer-background: #2f303a;
$button-index-hover: #188ce8;
